@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
.navbar-brand, .refresh, a#tweet {
  transition: all 0.5s ease-in-out;
}
.navbar-brand:hover, .refresh:hover, a#tweet:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.navbar-brand:hover:active, .refresh:hover:active, a#tweet:hover:active, .navbar-brand:hover:visited, .refresh:hover:visited, a#tweet:hover:visited, .navbar-brand:hover:focus, .refresh:hover:focus, a#tweet:hover:focus {
  background: transparent;
  outine: 0;
  box-shadow: none !important;
}

.icon {
  display: inline;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fffffe;
}

body {
  background: url("https://images.unsplash.com/photo-1554103494-90f9e0883a85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Bebas Neue", Verdana, sans-serif;
  font-size: 1.5em;
  color: #fffffe;
}

.navbar-brand:hover {
  color: #00ff00 !important;
}

.refresh {
  margin: 0;
}
.refresh:hover {
  color: #cc3333 !important;
}

a#tweet {
  padding-left: 15px;
  font-size: 25px;
  color: #fffffe;
}
a#tweet:hover {
  color: #0066cc;
}

.nav a {
  font-size: 25px;
}

section .container {
  margin-top: 12%;
}

.quote-block {
  margin-left: 12%;
}

blockquote {
  margin: 1em auto 0 auto;
  color: #fffffe;
  text-shadow: 3px 4px 5px black;
  letter-spacing: 0.07em;
  font-size: 1.7em;
}

#cite {
  width: 85%;
  margin: 5em auto 1em auto;
  text-shadow: 3px 4px 5px black;
  letter-spacing: 0.04em;
  font-size: 1.2em;
}