.nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-bottom(role="navigation")
	.container
		a.navbar-brand(href='https://omgninjas.me', target="_blank") omgninjas
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarResponsive.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item.active
				a.nav-link#refresh.refresh.btn(href='#', role="button") Fetch a new one
				span.sr-only (current)
			li.nav-item
				a.nav-link#tweet(href="#", target="_blank")
					i.fab.fa-twitter(aria-hidden="true")
// Page Content
section
	.container
		.row
			.col-lg-12
				h1.mt-5#cite
				.quote-block
					blockquote.animated.fadeIn.icon#quote


