@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap')

$main-font: 'Bebas Neue', Verdana, sans-serif
$contrast-light: #fffffe
$bg-img: url("https://images.unsplash.com/photo-1554103494-90f9e0883a85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80")
$fa: "Font Awesome 5 Free"

$red:  #cc3333
$blue: #0066cc
$green: #00ff00

%get-big
	transition: all .5s ease-in-out
	&:hover
		-webkit-transform: scale(1.1)
		transform: scale(1.1)
		&:active, &:visited, &:focus
			background: transparent
			outine: 0
			box-shadow: none !important

.icon 
	display: inline
	font-style: normal
	font-variant: normal
	text-rendering: auto
	-webkit-font-smoothing: antialiased
	color: $contrast-light

body
	background: $bg-img no-repeat center fixed
	-webkit-background-size: cover
	-moz-background-size: cover
	background-size: cover
	-o-background-size: cover
	font-family: $main-font
	font-size: 1.5em
	color: $contrast-light

.navbar-brand
	@extend %get-big
	&:hover
		color: $green !important
	
.refresh
	@extend %get-big
	margin: 0 
	&:hover
		color: $red !important
	
a#tweet
	padding-left: 15px
	font-size: 25px
	@extend %get-big
	&:hover
		color: $blue
	color: $contrast-light


.nav a
	font-size: 25px


section .container
	margin-top: 12%

.quote-block
	margin-left: 12%

blockquote
	margin: 1em auto 0 auto
	color: $contrast-light
	text-shadow: 3px 4px 5px black
	letter-spacing: .07em
	font-size: 1.70em

#cite
	width: 85%
	margin: 5em auto 1em auto
	text-shadow: 3px 4px 5px black
	letter-spacing: 0.04em
	font-size: 1.2em


